body{
	box-sizing: border-box;
}
#section1{
	background:url('') no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	background-position: center;
	vertical-align: baseline;
	min-height: 768px;
	background-color: gray;
}
#section1-content{
	padding-top: 25%;
	padding-bottom: 15%;
	width:100%;
}

#section1-content h1{
font-size: 3em;
}

#section1-content h2{
font-size: 2.3em;
}
.section{
	width: 80%;
}

.nav{
	font-size: 1.3em;
}
#custom-nav{
	clear: both;
	text-align: center;
	float: none;
	width: 80%;
	margin-left:auto;
	margin-right: auto;
	
}
.navbar-nav>li {
	margin-left:10%;
	margin-right: auto;
	
}

@media (max-width: 1460px){
.navbar-nav>li {
    margin-left:5%;
}
}
@media (max-width: 990px){
.navbar-nav>li {
    margin-left:auto;
}
}

#main-content{
	margin: auto;
	font-size: 1.2em;
	padding-top: 20px;
	padding-bottom: 20px;
}